body {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
}

.h2, h2 {
	font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
}

p {
  color: #fff;
  font-size: 20px;
}

/* Buttons */

.btn {
  display: inline-block;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px 35px;
  font-size: 20px;
  line-height: 45px;
  border-radius: 8px;
}

.btn-primary {
  background: #1abc9c;
}

.btn-primary:hover {
  background: #0e7e77;
}

.btn-white {
  border: 2px solid #fff;
}

.btn-white:hover {
  color: #000;
  background-color: #fff;
}

/* Header */

/* Navbar */
.main-header .navbar {
  background: #2c3e50;
  text-transform: uppercase;
}

.main-header .navbar-brand {
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.main-header .navbar-nav > li > a {
  line-height: 80px;
  padding: 0 15px;
  font-size: 18px                ;
  font-weight: 700;
  color:#fff;
  transition: background 1s;
}

.main-header .navbar-nav > li > a:hover {
  color: #1abc9c;
}

/* Jumbotron */
.jumbotron {
  background: #1abc9c;
}

.jumbotron img {
  width: 30%;
}

.jumbotron h1 {
  font-weight: 700;
  color: #fff;
}

/* Portfolio */

.portfolio .box {
  height: 300px;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

/* About */
.about {
  background: #1abc9c;
  padding: 20px 0;
}

.about h2 {
  color: #fff;
}

/* Contact */
.register-form {
  margin: 30px 0;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form textarea {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

/* Footer */

/* References */
.references {
  background: #2c3e50;
}

/* Copyright */
.copyright {
  background: #1a252f;
}
