body {
  padding-top: 70px;
}

.h2, h2 {
	font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
}

/* Header */

/* Navbar */
.main-header .navbar {
  background: #2c3e50;
  text-transform: uppercase;
}

.main-header .navbar-brand {
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.main-header .navbar-nav > li > a {
  line-height: 80px;
  padding: 0 15px;
  font-size: 18px                ;
  font-weight: 700;
  color:#fff;
  transition: background 1s;
}

.main-header .navbar-nav > li > a:hover {
  color: #1abc9c;
}

/* Jumbotron */
.jumbotron {
  background: #1abc9c;
  color: #fff;
}

.jumbotron img {
  width: 30%;
}

.jumbotron h1 {
  font-weight: 700;
  color: #fff;
}

.jumbotron p {
  font-size: 25px;
}

/* Portfolio */

.portfolio .box {
  height: 300px;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

/* About */
.about {
  height:300px;
  background: #1abc9c;
}

/* Footer */

/* References */
.references {
  background: #2c3e50;
}

/* Copyright */
.copyright {
  background: #1a252f;
}
